/* Header 1 */
.rn-editor__rem__body__text--h1:not(.document-title),
.dark .rn-editor__rem__body__text--h1:not(.document-title) {
	font-size: 1.98rem !important;
	font-weight: 600 !important;
}

/* Header 2 */
.rn-editor__rem__body__text--h2:not(.document-title),
.dark .rn-editor__rem__body__text--h2:not(.document-title) {
	font-size: 1.78rem !important;
	font-weight: 600 !important;
}

/* Header 3 */
.rn-editor__rem__body__text--h3:not(.document-title),
.dark .rn-editor__rem__body__text--h3:not(.document-title) {
	font-size: 1.58rem !important;
	font-weight: 600 !important;
}

/* Header 4 */
.rn-editor__rem__body__text--h4:not(.document-title),
.dark .rn-editor__rem__body__text--h4:not(.document-title) {
	font-size: 1.38rem !important;
	font-weight: 550 !important;
}

/* Header 5 */
.rn-editor__rem__body__text--h5:not(.document-title),
.dark .rn-editor__rem__body__text--h5:not(.document-title) {
	font-size: 1.22em !important;
	font-weight: 550 !important;
}

/* Header 6 */
.rn-editor__rem__body__text--h6:not(.document-title),
.dark .rn-editor__rem__body__text--h6:not(.document-title) {
	font-size: 1.08rem !important;
	font-weight: 550 !important;
}